<%= image_tag("logo.png", size: "600x300", class: "image-fluid") %> 


<div class="jumbotron"> 
<h1>Welcome to Paw Pals!</h1>
</div>

<% if !logged_in? %>

    <a href="/signup" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Sign up</a>
    <br>
    <br>
    <a href="/login" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Login</a>
    <br>
    <br>
    <%= button_to "Log in with Google", "/auth/google_oauth2"%>


<% else %>

<div class="container">

<h2> Woof, woof!</h2>

</div>

<% end %> 
