<% if @user %> 

    <h1> Here are your listings, <%= @user.name %> </h1>

<% else %> 

<h1> Here are all the Listings </h1> 

<% end %> 

<% @listings.each do |l| %>
    <h2><%= link_to l.title, listing_path(l) %></h2> Posted on: <%= l.created_at.strftime("%b %e, %l:%M %p") %>
     <% end %> 


  