<% if @user %> 

<div class="container p-3 my-3 bg-dark text-white">Here are your listings, <%= @user.username %></div>

<% else %> 

<div class="jumbotron"> 

<h1>Paw Pals</h1>

</div>

<div class="container p-3 my-3 bg-dark text-white"> Recent Listings </div>

<% end %> 

<% @listings.each do |l| %>
    <h2><%= link_to l.title, listing_path(l) %></h2> Posted on: <%= l.created_at.strftime("%b %e, %l:%M %p") %>
     <% end %> 


  