<h3> My Upcoming Hosted Events </h3>

<p> Event Details: </p> 

<ul>
 <% @user.authored_listings.each do |e| %> 
        <li>Location: <%= e.location.name %> | Date & Time: <%= e.date_time.strftime("%b %e, %l:%M %p") %></li>
    <% end %> 
    </ul> 


<h3> Upcoming Events </h3>

    <p> Event Details: </p> 

    <ul> 
    <% @user.events do |e| %>
        <li>Location: <%= e.location.name %></li>
        <li>Date & Time: <%= e.date_time %></li>
        <li>Host: </li>
    <% end %>
    </ul>
