
<h1><%= @user.username %>'s Profile </h1>

<h4>Pet(s):</h4> 
<ul> 
<% @user.pets.each do |p| %>
     <li><%= link_to p.name, pet_path(p) %></li>
     <% end %>
 </ul>
 <%= link_to "Add a Pet", new_pet_path, class:"btn btn-info mb-3" %> 

 <%= render 'event' %> 

 
