<h1> Request </h1> 

<p>Message: <%= @request.message %></p>
<br>
<br>
<p>Date & Time Requested: <%= @request.date.strftime("%b %e, %l:%M %p") %></p>
<br>
<br>
<p> Sender <%= link_to @request.user.name, user_path(@request)%></p>







